<!-- home layout -->
<div id="image-container">
  <img src="https://img.techpowerup.org/200629/bg-01.jpg" id="abstract-img" />
</div>
<div id="login-container">
  <h3 id="title-head">Authrex - Multiple authentication support system</h3>
  <!-- <h5><%= title %></h5> -->

  <ul>
    <%if(locals.user){%>
    <li>
      <a href="/users/profile">
        <%= user.name%>
      </a>
    </li>
    <!-- <li>
      <span>Image Preview:-</span>
        <img  src="<%= imageurl%>"  height='100' width='100' alt="image preview will appear here" />
    </li> -->
    <li>
      <a href="/users/profile">
        Go to Gallery
      </a>
    </li>
    <li>
      <form
        id="myform"
        action="/api/v1/upload/image-upload"
        method="POST"
        enctype="multipart/form-data"
      >
        <sapn>Name of model</sapn>
        <input type="text" name="modelName" placeholder="Model Name" required />
        <span>Preview Image Upload:- limit(20mb) (.jpg, .jpeg, .gif, .png)</span>
        <input id="file1" type="file" name="models" placeholder="upload model" required/>
        <br/>
        <span>Model Upload:- limit(100mb)(.fbx, .obj)</span>
        <input id="file2" type="file" name="models" placeholder="upload model"  required/>

        <span>Textures Upload:- limit(100mb)(.rar, .zip)</span>
        <input id="file3" type="file" name="models" placeholder="upload model" required/>

        <input id="uploadbutton" type="submit" value="upload model" placeholder="Upload" />
      </form>
    </li>

    <li>
      <a href="/users/signOut">Sign Out</a>
    </li>
    <p>
      <a href="/users/resetPasswordPage">
        Reset Password!
      </a>
    </p>
    <%}else{%>
    <li>
      <a href="/users/signIn">Sign In</a>
    </li>
    <li>
      <a href="/users/signUp">Sign Up</a>
    </li>
    <%}%>
  </ul>
</div>
<script src="/js/filePickCheck.js"></script>