<link rel="stylesheet" href="/css/user_gallery.css" />
<h1> Hi! <%= userName%></h1>
<br/>
<p>Your Image Uploads</p>
<div id="model-box">
<%for(image of images){%>
    <div class="model-block">
        <img src="<%= locationPrefix%><%= image.imageLocation%>"  height="100px" width="100" />
        <a href="/users/getModel/<%= image.id%>"><img src="https://image.flaticon.com/icons/svg/810/810863.svg" height="30px" width="30px" /></a>
    </div>
<%}%>
</div>
<br/>
<br/>
<a href="/">
   Click to Upload more!
</a>