#model-box {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: initial;
    align-items: flex-end;
}

.model-block {
    display: inline-block;
    margin-right: 38px;
    margin-top: 25px;
}